<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{../css/map.css}">
    <title>Maps and Places Autocomplete</title>
    <script type="module" src="https://unpkg.com/@googlemaps/extended-component-library@0.6"></script>
    <script th:src="@{../JS/map.js}"></script>
</head>
<body>
<div id="info-panel">
    <div class="place-picker-container">
        <gmpx-place-picker placeholder="주소를 입력하세요"></gmpx-place-picker>
    </div>

    <div class="category-buttons">
        <button class="active" onclick="changePlaceType('lodging')">숙소</button>
        <button onclick="changePlaceType('tourist_attraction')">관광지</button>
        <button onclick="changePlaceType('restaurant')">식당</button>
        <button onclick="changePlaceType('cafe')">카페</button>
    </div>

    <!-- 음식 종류 입력 필드 -->
    <div id="foodInputContainer">
        <input type="text" id="foodInput" placeholder="음식 종류를 입력하세요" />
        <button onclick="searchFood()">검색</button>
        <button onclick="resetFoodSearch()">초기화</button>
    </div>

    <ul id="places-list"></ul>
    <button class="logout-button" onclick="window.location.href='/logout'">로그아웃</button>

</div>
<!-- 계획 목록 팝업 -->
<div id="plan-popup" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closePlanPopup()">&times;</span>
        <h3>저장된 계획 목록</h3>
        <ul id="plan-list"></ul>
    </div>
</div>

<div id="selected-panel">
    <h3>선택한 장소</h3>
    <ul id="selected-places"></ul>
    <button class="reset-button" onclick="resetSelectedPlaces()">초기화</button>
    <button class="reset-button" onclick="savePlan()">계획 저장</button>
    <button class="reset-button" onclick="openPlanPopup()">계획 보기</button>
</div>

<gmpx-api-loader key="AIzaSyBSrmV4v2IuA2pXwJ6x7IBg80zUEZAxMUc" solution-channel="GMP_GE_mapsandplacesautocomplete_v1">
</gmpx-api-loader>
<gmp-map center="35.8714354,128.601445" zoom="17" map-id="DEMO_MAP_ID">
    <gmp-advanced-marker></gmp-advanced-marker>
</gmp-map>
</body>
</html>
