<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원 가입</h4>
        </div>
    </div>
    <form th:action="@{/signup}" th:object="${userCreateDto}" method="post">
        <div class="mb-3">
            <label for="userName" class="form-label">사용자 ID</label>
            <input type="text" th:field="*{userName}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="passwordConfirm" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{passwordConfirm}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" th:field="*{email}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">회원 가입</button>
    </form>

</div>
</html>
<style>

    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.5em;
    }
</style>
