<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{../JS/signup.js}"></script>
<link rel="stylesheet" th:href="@{../css/signup.css}">
<body>

<div class="container">
    <h2>회원가입</h2>
    <form th:action="@{/signup}" th:object="${userCreateDto}" method="post" id="signupForm">
        <!-- 사용자 ID -->
        <div class="form-group">
            <label for="username">사용자 ID</label>
            <input type="text" id="username" name="username" placeholder="사용자 ID">
            <div id="usernameCheckResult" class="text-danger"></div>
        </div>

        <!-- 비밀번호 -->
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="비밀번호">
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
        </div>

        <!-- 비밀번호 확인 -->
        <div class="form-group">
            <label for="passwordConfirm">비밀번호 확인</label>
            <input type="password" th:field="*{passwordConfirm}" class="form-control" id="passwordConfirm" placeholder="비밀번호 확인">
            <div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="text-danger"></div>
        </div>

        <!-- 이메일 -->
        <div class="form-group">
            <label for="mail">이메일</label>
            <input type="email" name="mail" id="mail" placeholder="이메일 입력">
        </div>

        <!-- 인증번호 보내기 버튼 -->
        <button type="button" class="btn btn-primary" id="sendBtn" onclick="sendNumber()">인증번호 보내기</button>

        <!-- 인증번호 입력란 -->
        <div id="mail_number" name="mail_number" style="display: none;">
            <input type="text" name="number" id="number" placeholder="인증번호 입력">
            <button type="button" class="btn btn-primary" id="confirmBtn" onclick="confirmNumber()">이메일 인증</button>
        </div>
        <input type="text" id="Confirm" name="Confirm" style="display: none" value="">

        <!-- 회원가입 버튼 -->
        <button type="submit" class="btn btn-success" id="signupBtn" disabled>회원 가입</button>
    </form>
</div>
</body>
</html>
